@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&family=Poppins:wght@100;200;400;600&family=Tajawal:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Tajawal", sans-serif;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

html::-moz-selection {
  color: #E6E7FF;
  background: #5559CE;
}

html::selection {
  color: #E6E7FF;
  background: #5559CE;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #1F2278;
}

p {
  font-size: 18px;
  word-spacing: 1.5px;
  color: #444444;
  text-transform: capitalize;
}

.row, .about__services, .about__services--item > div, .services__information--accordion__item--title, .header__navLinks {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-gap {
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.row-gap {
  row-gap: 20px;
}

.sec-padding {
  padding: 80px 0px;
}

.sec-margin {
  margin: 80px 0px;
}

.container {
  display: block;
  width: 85%;
  height: 100%;
  margin: auto;
}

@media only screen and (max-width: 575px) {
  .container {
    width: 90%;
  }
}

.box {
  width: calc((100% / 2) - 20px);
}

@media only screen and (max-width: 757px) {
  .box {
    width: calc((100% / 1) - 0px);
  }
}

.active {
  color: #f17732 !important;
  font-weight: bold;
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 0.75rem;
  background: url("../img/svg/line-1.svg") no-repeat;
  background-position: center;
  background-size: cover;
}

.special-title {
  color: #f17732;
}

.special-title .mainLitter {
  color: #00BBB4;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: #1F2278;
}

.title::before {
  content: attr(data-subTitle);
  font-size: 15px;
  display: block;
  color: #f17732;
}

.btn {
  all: unset;
  padding: 15px 40px;
  border-radius: 10px;
  background-color: #f17732;
  color: #E6E7FF;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

@media only screen and (max-width: 757px) {
  .btn {
    padding: 10px 20px;
  }
}

.btn:hover {
  opacity: .8;
}

.btn i {
  font-size: 20px;
  -webkit-animation: infinity-x-icon 2s ease-in-out infinite;
  animation: infinity-x-icon 2s ease-in-out infinite;
}

.btn i -webkit-keyframes infinity-x-icon 50% {
  -webkit-transform: translateX(0px) translateY(5px);
          transform: translateX(0px) translateY(5px);
}

.btn i -webkit-keyframes infinity-x-icon 0%, .btn i -webkit-keyframes infinity-x-icon 100% {
  -webkit-transform: translateX(-15px) translateY(5px);
          transform: translateX(-15px) translateY(5px);
}

.btn i -moz-keyframes infinity-x-icon 50% {
  -webkit-transform: translateX(0px) translateY(5px);
          transform: translateX(0px) translateY(5px);
}

.btn i -moz-keyframes infinity-x-icon 0%, .btn i -moz-keyframes infinity-x-icon 100% {
  -webkit-transform: translateX(-15px) translateY(5px);
          transform: translateX(-15px) translateY(5px);
}

.btn i -o-keyframes infinity-x-icon 50% {
  -webkit-transform: translateX(0px) translateY(5px);
          transform: translateX(0px) translateY(5px);
}

.btn i -o-keyframes infinity-x-icon 0%, .btn i -o-keyframes infinity-x-icon 100% {
  -webkit-transform: translateX(-15px) translateY(5px);
          transform: translateX(-15px) translateY(5px);
}

@-webkit-keyframes infinity-x-icon {
  50% {
    -webkit-transform: translateX(0px) translateY(5px);
            transform: translateX(0px) translateY(5px);
  }
  0%, 100% {
    -webkit-transform: translateX(-15px) translateY(5px);
            transform: translateX(-15px) translateY(5px);
  }
}

@keyframes infinity-x-icon {
  50% {
    -webkit-transform: translateX(0px) translateY(5px);
            transform: translateX(0px) translateY(5px);
  }
  0%, 100% {
    -webkit-transform: translateX(-15px) translateY(5px);
            transform: translateX(-15px) translateY(5px);
  }
}

.banner {
  width: 100%;
  height: 400px;
  background: url("../img/bg-img/footer.d025f458.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  background-color: #5559CE;
  background-image: linear-gradient(#F7F7FF 10px, #5559CE);
  z-index: -1;
}

.banner__content {
  text-align: center;
  padding: 10px;
}

.banner__content h2 {
  color: #1F2278;
}

.banner__content p {
  margin: 20px 0px;
}

.mainSection {
  width: 100%;
  height: 800px;
  position: relative;
  z-index: 1;
  background: url("../img/bg-img/main-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 757px) {
  .mainSection {
    height: 600px;
  }
}

@media only screen and (max-width: 575px) {
  .mainSection {
    height: 100vh;
  }
  .mainSection .row, .mainSection .about__services, .mainSection .about__services--item > div, .mainSection .services__information--accordion__item--title, .mainSection .header__navLinks {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.mainSection::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url("../img/bg-img/shape.png") no-repeat;
  background-position: center;
  background-size: cover;
  background-position: 0 100%;
  background-size: 100%;
  z-index: -1;
}

.mainSection__info {
  padding-left: 20px;
}

@media only screen and (max-width: 575px) {
  .mainSection__info {
    margin-top: 100px;
    text-align: center;
  }
}

.mainSection__info--title {
  font-size: 45px;
  font-weight: bold;
  color: #1F2278;
}

@media only screen and (max-width: 757px) {
  .mainSection__info--title {
    font-size: 22px;
  }
}

@media only screen and (max-width: 575px) {
  .mainSection__info--title {
    font-size: 35px;
  }
}

.mainSection__info--desc {
  margin: 25px 0px;
  padding-left: 100px;
  font-size: 20px;
}

@media only screen and (max-width: 757px) {
  .mainSection__info--desc {
    font-size: 15px;
    padding: 0;
  }
}

@media only screen and (max-width: 575px) {
  .mainSection__info--desc {
    font-size: 20px;
  }
}

.mainSection__img {
  -webkit-animation: infinity-y-img 2s ease-in-out infinite;
  animation: infinity-y-img 2s ease-in-out infinite;
}

.mainSection__img -webkit-keyframes infinity-y-img 50% {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.mainSection__img -webkit-keyframes infinity-y-img 0%, .mainSection__img -webkit-keyframes infinity-y-img 100% {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.mainSection__img -moz-keyframes infinity-y-img 50% {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.mainSection__img -moz-keyframes infinity-y-img 0%, .mainSection__img -moz-keyframes infinity-y-img 100% {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.mainSection__img -o-keyframes infinity-y-img 50% {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.mainSection__img -o-keyframes infinity-y-img 0%, .mainSection__img -o-keyframes infinity-y-img 100% {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

@-webkit-keyframes infinity-y-img {
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  0%, 100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@keyframes infinity-y-img {
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  0%, 100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

.mainSection__img img {
  display: block;
  max-width: 80%;
  margin-right: auto;
}

@media only screen and (max-width: 757px) {
  .mainSection__img img {
    margin: auto;
  }
}

.about__services {
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__services--item {
  width: calc((100% / 2) - 10px);
  background-color: #F7F7FF;
  border-radius: 10px;
  padding: 30px;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  text-align: center;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 757px) {
  .about__services--item {
    width: calc((100% / 1) - 0px);
  }
}

.about__services--item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #5559CE;
  z-index: -2;
  -webkit-transition: left 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: left 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.about__services--item:first-child::after {
  left: 0;
}

.about__services--item:hover::after {
  left: 0;
}

.about__services--item > div {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 43% 57% 14% 86% / 85% 81% 19% 15%;
  background-color: #E6E7FF;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__services--item > div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 105%;
  background-color: #E6E7FF;
  border-radius: 19% 81% 67% 33% / 49% 41% 59% 51%;
  z-index: -1;
  opacity: .4;
}

.about__services--item > div img {
  width: 50px;
}

.about__services--item h2 {
  margin-top: 10px;
  font-size: 20px;
  color: #1F2278;
}

.about__info {
  margin-top: 20px;
}

.about__info--desc {
  font-size: 18px;
  margin: 20px 0px;
}

.services {
  padding-top: 0px;
}

.services__information {
  position: relative;
}

.services__information::before {
  content: '';
  position: absolute;
  top: 20%;
  right: -50%;
  z-index: -1;
}

.services__information--accordion {
  margin-top: 20px;
}

.services__information--accordion__item {
  /* From https://css.glass */
  background: rgba(247, 247, 255, 0.35);
  border-radius: 10px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  margin-bottom: 15px;
}

.services__information--accordion__item--title {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.services__information--accordion__item--title h2 {
  color: #1F2278;
  max-width: 95%;
}

.services__information--accordion__item--title i {
  background-color: #F7F7FF;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  color: #f17732;
}

.services__information--accordion__item--body {
  height: 0;
  overflow: hidden;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  padding: 0 30px;
}

.services__information--accordion__item--body.actives {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 15px;
}

.services__information--accordion__item--body p {
  font-size: 18px;
  word-spacing: 1.5px;
}

.services__img {
  -webkit-animation: infinity-y-img 2s ease-in-out infinite;
  animation: infinity-y-img 2s ease-in-out infinite;
}

.services__img -webkit-keyframes infinity-y-img 50% {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.services__img -webkit-keyframes infinity-y-img 0%, .services__img -webkit-keyframes infinity-y-img 100% {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.services__img -moz-keyframes infinity-y-img 50% {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.services__img -moz-keyframes infinity-y-img 0%, .services__img -moz-keyframes infinity-y-img 100% {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.services__img -o-keyframes infinity-y-img 50% {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.services__img -o-keyframes infinity-y-img 0%, .services__img -o-keyframes infinity-y-img 100% {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

@keyframes infinity-y-img {
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  0%, 100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

.services__img img {
  width: 100%;
}

.testimonial__img {
  position: relative;
  display: inline-block;
}

.testimonial__img img {
  border-style: none;
  height: auto;
  max-width: 100%;
  display: block;
  vertical-align: baseline;
  position: relative;
  margin: auto;
}

.testimonial__img ul {
  position: absolute;
  width: 100%;
}

.testimonial__img ul li {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  overflow: hidden;
  position: absolute;
  -webkit-box-shadow: 0px 0px 40px #E6E7FF;
          box-shadow: 0px 0px 40px #E6E7FF;
}

.testimonial__img ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial__img ul li:first-child {
  top: -355px;
  left: 30px;
}

.testimonial__img ul li:nth-child(2) {
  top: -450px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.testimonial__img ul li:nth-child(3) {
  top: -355px;
  right: 20px;
}

.testimonial__img ul li:nth-child(4) {
  right: 25px;
  bottom: 105px;
}

.testimonial__img ul li:nth-child(5) {
  bottom: 7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.testimonial__img ul li:nth-child(6) {
  left: 30px;
  bottom: 105px;
}

@media only screen and (max-width: 575px) {
  .testimonial__img ul li {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
  }
  .testimonial__img ul li:first-child {
    top: -273px;
    left: 26px;
  }
  .testimonial__img ul li:nth-child(2) {
    top: -300px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .testimonial__img ul li:nth-child(3) {
    top: -266px;
    right: 20px;
  }
  .testimonial__img ul li:nth-child(4) {
    right: 19px;
    bottom: 83px;
  }
  .testimonial__img ul li:nth-child(5) {
    bottom: 7px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .testimonial__img ul li:nth-child(6) {
    left: 25px;
    bottom: 79px;
  }
}

.testimonial__client .swiper {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;
  padding-bottom: 50px;
  border: 2px solid #f17732;
  border-radius: 30px 0 30px 30px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.testimonial__client .swiper .swiper-slide {
  padding: 25px;
}

.testimonial__client .swiper .swiper-slide .item {
  width: 100%;
  height: 100%;
  background-color: #f17732;
  border-radius: 30px 0 30px 30px;
  padding: 50px 30px 30px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.testimonial__client .swiper .swiper-slide .item p {
  color: #F7F7FF;
  margin-bottom: 20px;
}

.testimonial__client .swiper .swiper-slide .item .row .bx, .testimonial__client .swiper .swiper-slide .item .about__services .bx, .testimonial__client .swiper .swiper-slide .item .about__services--item > div .bx, .testimonial__client .swiper .swiper-slide .item .services__information--accordion__item--title .bx, .testimonial__client .swiper .swiper-slide .item .header__navLinks .bx {
  font-size: 100px;
  color: #F9C9AD;
  opacity: .5;
}

.testimonial__client .swiper .swiper-slide .item .row .item-info, .testimonial__client .swiper .swiper-slide .item .about__services .item-info, .testimonial__client .swiper .swiper-slide .item .about__services--item > div .item-info, .testimonial__client .swiper .swiper-slide .item .services__information--accordion__item--title .item-info, .testimonial__client .swiper .swiper-slide .item .header__navLinks .item-info {
  color: #F7F7FF;
  opacity: .7;
}

.testimonial__client .swiper .btn-control {
  width: 40px;
  height: 40px;
  background-color: #F9C9AD;
  color: #f17732;
  padding: 10px;
  border-radius: 10px;
  z-index: 999;
}

.testimonial__client .swiper .btn-control::after {
  font-size: 15px;
  font-weight: bold;
}

.testimonial__client .swiper-button-next {
  top: 90%;
  left: 40px;
}

.testimonial__client .swiper-button-prev {
  top: 90%;
  right: auto;
  left: 90px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: padding 300ms ease-in-out;
  transition: padding 300ms ease-in-out;
}

.header__logo {
  width: 120px;
  cursor: pointer;
}

.header__logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-drag: none;
}

.header__navLinks {
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

@media only screen and (max-width: 575px) {
  .header__navLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 93px;
    left: 0;
    width: 100%;
    background-color: #F7F7FF;
    -webkit-column-gap: 0px;
            column-gap: 0px;
    row-gap: 30px;
    overflow: hidden;
    height: 0px;
    padding: 0px 25px;
  }
  .header__navLinks.active {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 50px 25px;
  }
}

.header__navLinks--item {
  font-size: 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #1F2278;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__navLinks--item:hover {
  color: #f17732;
}

.header__menu {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 575px) {
  .header__menu {
    display: block;
  }
}

.header__menu i {
  font-size: 40px;
  color: #00BBB4;
}

.footer {
  width: 100%;
  position: relative;
  z-index: 1;
  background: url("../img/bg-img/footer.d025f458.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg-img/footer-wav.png") no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100%;
  z-index: -1;
  background-position: 0 0;
}
/*# sourceMappingURL=main.css.map */