

.btn {
    all: unset;
    padding: 15px 40px;
    border-radius: 10px;
    background-color: $activeColor;
    color: $secondBgColor;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    transition: opacity 200ms ease-in-out;
    @include devices(tablet) {
        padding: 10px 20px;
    }
    &:hover {
        opacity: .8;
    }

    i {
        font-size: 20px;
        @include prefixes(animation,infinity-x-icon 2s ease-in-out infinite ,$prefixes-list);
        @include loping_x(infinity-x-icon);
    }
}