

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.column-gap {
    column-gap: 20px;
}

.row-gap {
    row-gap: 20px;
}


.container {
    display: block;
    width: 80%;
    height: 100%;
    margin: auto;
}

.box {
    width: calc((100% / 2) - 20px);
    // outline: 1px solid red;
}

.active {
    color: $activeColor !important;
    font-weight: bold;
}


