

.footer {
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 1;
    @include bg-img('../../../img/bg-img/footer.d025f458.jpg');

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include bg-img('../../../img/bg-img/footer-wav.png');
        background-size: 100%;
        z-index: -1;
        background-position: 0 0;
    }
}